*
{
	padding: 0px;
	margin: 0px;
}
body
{
	background-image: url(../pintura.png);
	/*background-color: #fff9b0;*/
}

 .ojos12{
        position: relative;
        top: -50%;
        width: 100%;
        text-align: center;
    }
    .vista12{
		top: 100px;
		left: 80px;
        width: 240px;
        height:	420px;
        background: none;
        display: inline-block;
        margin: 20px;
        border-radius: 55%;
        position: relative;
        overflow: hidden;

    }

    .pupilas12{
        width:  40px;
        height: 240px;
        background: rgb(0,0,0);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(50%,-50%);
        border-radius: 70%;
        border: solid rgb(77,77,72);
    }
.bigote{
	width: 90px;
	height: 90px;
	left: 110px;
	top: 170px;
	border-radius: 50%;
	position: absolute;
	color:black;
	box-shadow:
	200px 220px 0 0 currentColor,285px 220px 0 0 currentColor;
}
.bigote::before{
	content: "";
	position: absolute;
	left: 140px;
	top: 160px;
	width: 105px;
	height: 60px;
	border-bottom: solid 90px currentColor;
	border-radius: 0 0 0 100%;
	transform: rotate(-40deg);
	transform-origin: right 105px;
}
.bigote::after{
	content: "";
	position: absolute;
	left: 330px;
	top: 160px;
	width: 105px;
	height: 60px;
	border-bottom: solid 90px currentColor;
	border-radius: 0 0 100% 0;
	transform: rotate(40deg);
	transform-origin: left 105px;
}

.sombrero{
	width: 200px;
	height: 160px;
	left: 300px;
	top: 50px;
	border-radius: 100% 100% 0 0;
	position: absolute;
	color:black;
	background-color: black;
}
.sombrero::before{
	content: "";
	position: absolute;
	left: -50px;
	top: 170px;
	width: 300px;
	height: 20px;
	background-color: black;
	border-radius: 35px;
}

.ojos{
	width: 80px;
	height: 80px;
	left: 300px;
	top: 270px;
	background-color: black;
	border-radius: 50px;
	position: absolute;
}
.ojos::before{
	content: "";
	width: 80px;
	height: 80px;
	left: 130px;
	top: 0px;
	background-color: black;
	border-radius: 50px;
	position: absolute;
}
.ojos::after{
	content: "";
	position: absolute;
	left: 110px;
	top: -20px;
	width: 100px;
	height: 100px;
	border: 10px solid;
	border-radius: 30px;
}
