@import url("https://fonts.googleapis.com/css?family=Titan+One");

* {
	padding: 0px;
	margin:  0px;
}
body {
	background-image: url(../image/background.png);
}
.my-header {
	width:   100%;
	height:  100px;
	padding: 20px;
	position: absolute;
	border-bottom-left-radius:  20px;
	border-bottom-right-radius: 20px;
	background-color: #fff9b0;
}

.lente {
	top:   -50%;
	width: 100%;
	position: relative;
	text-align: center;
}

.vista {
	width:  240px;
	height: 420px;
	margin: 20px;
	display:  inline-block;
	position: relative;
	overflow: hidden;
	border-radius: 55%;
}

.pupila {
	top:    50%;
	left:   50%;
	width:  40px;
	height: 240px;
	border: solid #4d4d48;
	position: absolute;
	transform: translate(50%,-50%);
	text-align: center;
	background: #000;
	border-radius: 50%;
}

.person {
	margin-top: 200px;
	position: absolute;
}

.sombrero {
	width: 200px;
	height: 160px;
	left: 300px;
	top: 50px;
	border-radius: 100% 100% 0 0;
	position: absolute;
	color:black;
	background-color: black;
}
.sombrero::before {
	content: "";
	position: absolute;
	left: -50px;
	top: 170px;
	width: 300px;
	height: 20px;
	background-color: black;
	border-radius: 35px;
}

.ojos {
	width: 80px;
	height: 80px;
	left: 300px;
	top: 270px;
	background-color: black;
	border-radius: 50px;
	position: absolute;
}
.ojos::before {
	content: "";
	width: 80px;
	height: 80px;
	left: 130px;
	top: 0px;
	background-color: black;
	border-radius: 50px;
	position: absolute;
}
.ojos::after {
	content: "";
	position: absolute;
	left: 110px;
	top: -20px;
	width: 100px;
	height: 100px;
	border: 10px solid;
	border-radius: 30px;
}

.container {
	text-align: center;
	display: block;
	position: absolute;
	width: 410px;
	height: 410px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	width: 0%;
	height: 0%;
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 80px;
	font-weight: 700;
	background: #fff;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
	font-family: "Titan One", cursive;
}

h1 span {
	width:    90%;
	height:   99%;
	position: relative;
}

h1 span::before {
	width:    100%;
	height:   100%;
	display:  block;
	position: absolute;
	background: linear-gradient(45deg, #fc5c7d, #6a82fb, #fc5c7d);
	content: "";
	mix-blend-mode: screen;
}

.bigote {
	width: 90px;
	height: 90px;
	left: 110px;
	top: 170px;
	border-radius: 50%;
	position: absolute;
	color:black;
	box-shadow:
	200px 220px 0 0 currentColor,285px 220px 0 0 currentColor;
}

.bigote::before {
	content: "";
	position: absolute;
	left: 140px;
	top: 160px;
	width: 105px;
	height: 60px;
	border-bottom: solid 90px currentColor;
	border-radius: 0 0 0 100%;
	transform: rotate(-40deg);
	transform-origin: right 105px;
	animation: shakeLeft 1s ease-in-out infinite;
}

.bigote::after {
	content: "";
	position: absolute;
	left: 330px;
	top: 160px;
	width: 105px;
	height: 60px;
	border-bottom: solid 90px currentColor;
	border-radius: 0 0 100% 0;
	transform: rotate(40deg);
	transform-origin: left 105px;
	animation: shakeRight 1s ease-in-out infinite;
}

@keyframes wink {
	to {
		border-radius: 30%;
		height:        20px;
		box-shadow:    280px 120px 0 0 currentColor,
					   420px 120px 0 0 currentColor;
	}
}

@keyframes shakeLeft {
	0%   {
		transform: rotate(-50deg);
	}
	
	50%  {
		transform: rotate(-30deg);
	}

	100% {
		transform: rotate(-50deg);
	}
}

@keyframes shakeRight {
	0% {
		transform: rotate(50deg);
	}
	
	50% {
		transform: rotate(30deg);
	}

	100% {
		transform: rotate(50deg);
	}
}
